<button type="button" class="btn btn-primary mb-2" id="btnNovoCliente" onclick="abrirModalClienteNovo()">Novo Cliente</button>

<div id="registros" class="table-responsive"></div>

<div class="modal fade" id="modalClienteNovo" tabindex="-1"></div>

<script src="~/js/Cliente/Todos.js"></script>
<script src="~/js/Cliente/Novo.js"></script>
