<button type="button" class="btn btn-primary mb-2" onclick="abrirModalCriarCliente()">Novo Cliente</button>
<div id="registros" class="table-responsive"></div>
<div class="modal fade" id="modalCriarCliente" tabindex="-1"></div>
<script src="~/js/Cliente/Todos.js"></script>
<script src="~/js/Cliente/Criar.js"></script>